:root{
  --primary:#5C69FF;
  --pre-dark:#4F505D
}

*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-color: white;
}
body>header{
  background-color: white;
  position: sticky;
  top: 0;
  text-align: center;
}
body>header>h3{
  color: var(--dark)
}
.container-imagen{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px
}
.imagen-presentacion{
  background-color:white;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  align-self: center
}
.descripcion-dev{
  padding: 10px
}
.navegacion{
  border-top: solid 1px #c3c3c3;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.navegacion>.item-navegacion{
  height: 55px;
  width: 100%;
  color: white;
  display: flex;
  font-size: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: var(--pre-dark);
}
.navegacion>.item-navegacion.selected{
  color: var(--primary);
}
.navegacion>.item-navegacion>i{
  font-size: 14px;
  margin:5px;
}