*{
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-color: white;
}
body>header{
  background-color: black;
  position: sticky;
  top: 0
}
body>header>h3{
  color: white
}
.container-imagen{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px
}
.imagen-presentacion{
  background-color:white;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  align-self: center
}
.descripcion-dev{
  padding: 10px
}
.navegacion{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #333;
}
.navegacion>.item-navegacion{
  height: 44px;
  width: 100%;
  color: white;
  display: flex;
  font-size: 14px;
  padding-top: 10px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase
}